.jumbotron {
	padding: 20px, 20px, 100px, 20px;
    color: white;
    height: 450px;
    background-image: url("images/Living-room_stylizimo_white.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 img {
    max-height: 30px;
    max-width: 20px;
 }

p {
	font-size: 20px;
	color: black;
}

#display {
	margin: 10px;
    padding: 10px;
    font-size: 15px;
    height:300px;
    width:300px;
    overflow:auto;
}

#comments {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

#delCommentBtn {
    padding: none;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.title {
    font-weight: bold;
}

#saveBtn, #unSaveBtn {
    font-size: 10px;
    margin: 2px;
}

