.jumbotron {
	padding: 20px, 20px, 100px, 20px;
    color: white;
    height: 450px;
    background-image: url("images/Living-room_stylizimo_white.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 img {
    max-height: 30px;
    max-width: 20px;
 }

p {
	font-size: 20px;
	color: black;
}

#display {
	margin: 10px;
    padding: 10px;
    font-size: 15px;
}

#comments {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.title {
    font-weight: bold;
}

